/* Navbar.css */

.navigationbar {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #F7F7F7;
  transition: all 0.3s ease; /* Добавляем плавную анимацию для перехода */

  /* Стили для фиксированного навбара */
}

.navigationbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляем тень при фиксации */
}
