.filter-container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f9fa;
    overflow: hidden;
  }
  
  input[type="text"],
  select {
    margin-top: 30px;
    margin-bottom: 30px;

    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
  }
  
  select {
    background-color: #fff;
    cursor: pointer;
  }
  
  button {
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

  