.filter-container {
  position: fixed;
  margin: 20px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.filter-input,
.filter-select {
  flex: 1;
  margin: 0;
  margin-right: 12px;
  padding: 12px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.filter-input:focus,
.filter-select:focus {
  outline: none;
  border-color: #007bff;
}

.filter-select {
  background-color: #f9f9f9;
}

.filter-button {
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #0056b3;
}


input {
  margin: -20px;
}


.filter-input:focus{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Горизонтальное смещение, вертикальное смещение, размытие, цвет */
}

