.product-page {
    margin: 0 auto;
    padding: 40px;
  }



  .product-list {
    display: flex;
  }

.old_price


  
  .product {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .product img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }
  
  .details {
    flex: 1;
  }
  
  .details h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .details p {
    margin-bottom: 8px;
  }
  
  