.navigationbar {


    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
  }
  
  a:nth-child(3) {
    margin-right: 0; 
  }
  
  .container {
   
  }
  
  .center-logo {
    
  }
  