.navigationbar {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

a {
    text-decoration: none;
    margin-left: 5px;

}

.container {
    margin-left: 20px;
}