.navigationbar {

    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-eenly;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 30px;
    background-color: #F7F7F7;
    z-index: 100;
    
  }
  
  a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
  }
  
  a:nth-child(3) {
    margin-right: 0; 
  }
  
 
  .center-logo {
    position: relative;
  
    display: block;
    margin: 0 auto; /* Автоматичне центрування по горизонталі */
  }
  