.navigationbar {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
nav{
    display: flex;
    justify-content: space-around;
}


  a {

    text-decoration: none;
    color: black;
  }
  

  
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .center-logo {
    display: block;
    margin: 0 auto; /* Автоматичне центрування по горизонталі */
  }
  