.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Розташування елементів від лівого до правого краю */
    align-items: center; /* Вирівнювання елементів по вертикалі */
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  .navbar-brand {
    flex: 1; /* Розтягнути лого на всю доступну ширину */
    display: flex;
    justify-content: center; /* Центрувати лого по горизонталі */
    text-decoration: none;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  
  .navbar-nav-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav-right .nav-item {
    margin-left: 15px; /* Відступи між елементами правого списку */
  }
  

  .navigation {
    display: flex;


  }