.product-page {
    margin: 0 auto;
  }



  .product-list {
    display: flex;
    justify-content: space-between;
  }

  .old_price {


}


  
  .product {
    display: block;
    margin-bottom: 20px;
  }
  
  .product img {
    width: 150px;
    height: 150px;
  }
  
  .details {
    flex: 1;
  }
  
  .details h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .details p {
    margin-bottom: 8px;
  }
  
  